# DubTech Datathon: Drug Overdose in USA

**Authors: Clement, Calvin, Tilova**

---

ADD DESC

## Introduction  

Dataset link : [CDC](https://data.cdc.gov/NCHS/Drug-overdose-death-rates-by-drug-type-sex-age-rac/95ax-ymtc/about_data)

<a id = 'toc'></a>
    
## Table of Contents
---
1. [Data Wrangling](#wrangle)

**Importing Libraries**

In [1]:
import numpy as np
import pandas as pd

# data vis
import matplotlib.pyplot as plt
import seaborn as sns

<a id = 'wrangle'></a>

### 1. Data Wrangling
---
Loading the CSV file

In [3]:
unclean_df = pd.read_csv('../data/drug_overdose_data.csv')
# first 5 rows
unclean_df.head()

,INDICATOR,PANEL,PANEL_NUM,UNIT,UNIT_NUM,STUB_NAME,STUB_NAME_NUM,STUB_LABEL,STUB_LABEL_NUM,YEAR,YEAR_NUM,AGE,AGE_NUM,ESTIMATE,FLAG
0,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.1,1999,1,All ages,1.1,6.1,NaN
1,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.1,2000,2,All ages,1.1,6.2,NaN
2,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.1,2001,3,All ages,1.1,6.8,NaN
3,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.1,2002,4,All ages,1.1,8.2,NaN
4,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.1,2003,5,All ages,1.1,8.9,NaN

In [7]:
unclean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6228 entries, 0 to 6227
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   INDICATOR       6228 non-null   object
 1   PANEL           6228 non-null   object
 2   PANEL_NUM       6228 non-null   int64
 3   UNIT            6228 non-null   object
 4   UNIT_NUM        6228 non-null   int64
 5   STUB_NAME       6228 non-null   object
 6   STUB_NAME_NUM   6228 non-null   int64
 7   STUB_LABEL      6228 non-null   object
 8   STUB_LABEL_NUM  6228 non-null   float64
 9   YEAR            6228 non-null   int64
 10  YEAR_NUM        6228 non-null   int64
 11  AGE             6228 non-null   object
 12  AGE_NUM         6228 non-null   float64
 13  ESTIMATE        5117 non-null   float64
 14  FLAG            1111 non-null   object
dtypes: float64(3), int64(5), object(7)
memory usage: 730.0+ KB

In [21]:
unclean_df['STUB_LABEL'].value_counts()

STUB_LABEL
All persons                                                                  240
Female                                                                       240
Male                                                                         240
Male: Hispanic or Latino: All races                                          126
Female: Not Hispanic or Latino: American Indian or Alaska Native             126
Female: Not Hispanic or Latino: Black                                        126
Female: Not Hispanic or Latino: White                                        126
Male: Not Hispanic or Latino: American Indian or Alaska Native               126
Male: Not Hispanic or Latino: Black                                          126
Male: Not Hispanic or Latino: White                                          126
Female: Hispanic or Latino: All races                                        126
Female: Black or African American                                            126
Female: White                                                                126
Male: American Indian or Alaska Native                                       126
Male: Black or African American                                              126
Female: American Indian or Alaska Native                                     126
Male: White                                                                  126
Female: 75-84 years                                                          120
Female: 15-24 years                                                          120
Male: 55-64 years                                                            120
Male: 65-74 years                                                            120
Male: 75-84 years                                                            120
Male: 85 years and over                                                      120
Female: Under 15 years                                                       120
Female: 45-54 years                                                          120
Female: 25-34 years                                                          120
Female: 35-44 years                                                          120
Female: 55-64 years                                                          120
Female: 85 years and over                                                    120
Male: 35-44 years                                                            120
Female: 65-74 years                                                          120
Male: 45-54 years                                                            120
55-64 years                                                                  120
Male: 25-34 years                                                            120
25-34 years                                                                  120
Male: Asian or Pacific Islander                                              120
Female: Asian or Pacific Islander                                            120
Male: Not Hispanic or Latino: Asian or Pacific Islander                      120
Female: Not Hispanic or Latino: Asian or Pacific Islander                    120
Under 15 years                                                               120
Male: 15-24 years                                                            120
15-24 years                                                                  120
35-44 years                                                                  120
45-54 years                                                                  120
65-74 years                                                                  120
75-84 years                                                                  120
85 years and over                                                            120
Male: Under 15 years                                                         120
Male: Not Hispanic or Latino: Asian                                            6
Male: Not Hispanic or Latino: Native Hawaiian or Other Pacific Islander        6
Female: Not Hispanic or Latino: Asian                                          6
Female: Not Hispanic or Latino: Native Hawaiian or Other Pacific Islander      6
Name: count, dtype: int64

In [28]:
unclean_df['PANEL'].value_counts()

PANEL
All drug overdose deaths                                                         1038
Drug overdose deaths involving any opioid                                        1038
Drug overdose deaths involving natural and semisynthetic opioids                 1038
Drug overdose deaths involving methadone                                         1038
Drug overdose deaths involving other synthetic opioids (other than methadone)    1038
Drug overdose deaths involving heroin                                            1038
Name: count, dtype: int64

In [27]:
unclean_df[unclean_df['STUB_LABEL']=='Male: Hispanic or Latino: All races']

,INDICATOR,PANEL,PANEL_NUM,UNIT,UNIT_NUM,STUB_NAME,STUB_NAME_NUM,STUB_LABEL,STUB_LABEL_NUM,YEAR,YEAR_NUM,AGE,AGE_NUM,ESTIMATE,FLAG
218,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Sex and race and Hispanic origin,5,Male: Hispanic or Latino: All races,5.1,1999,1,All ages,1.1,8.6,NaN
219,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Sex and race and Hispanic origin,5,Male: Hispanic or Latino: All races,5.1,2000,2,All ages,1.1,7.1,NaN
220,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Sex and race and Hispanic origin,5,Male: Hispanic or Latino: All races,5.1,2001,3,All ages,1.1,6.7,NaN
221,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Sex and race and Hispanic origin,5,Male: Hispanic or Latino: All races,5.1,2002,4,All ages,1.1,8.0,NaN
222,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Sex and race and Hispanic origin,5,Male: Hispanic or Latino: All races,5.1,2003,5,All ages,1.1,8.3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5982,Drug overdose death rates,Drug overdose deaths involving any opioid,1,"Deaths per 100,000 resident population, age-ad...",1,Sex and race and Hispanic origin (single race),5,Male: Hispanic or Latino: All races,5.1,2018,20,All ages,1.1,11.6,NaN
6033,Drug overdose death rates,Drug overdose deaths involving natural and sem...,2,"Deaths per 100,000 resident population, age-ad...",1,Sex and race and Hispanic origin (single race),5,Male: Hispanic or Latino: All races,5.1,2018,20,All ages,1.1,2.1,NaN
6084,Drug overdose death rates,Drug overdose deaths involving methadone,3,"Deaths per 100,000 resident population, age-ad...",1,Sex and race and Hispanic origin (single race),5,Male: Hispanic or Latino: All races,5.1,2018,20,All ages,1.1,0.6,NaN
6135,Drug overdose death rates,Drug overdose deaths involving other synthetic...,4,"Deaths per 100,000 resident population, age-ad...",1,Sex and race and Hispanic origin (single race),5,Male: Hispanic or Latino: All races,5.1,2018,20,All ages,1.1,7.5,NaN
6186,Drug overdose death rates,Drug overdose deaths involving heroin,5,"Deaths per 100,000 resident population, age-ad...",1,Sex and race and Hispanic origin (single race),5,Male: Hispanic or Latino: All races,5.1,2018,20,All ages,1.1,4.9,NaN